<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>tasks</title>
  </head>
  <body>
    <div class="container">
        <h1>Tasks</h1>
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <button class="btn btn-success"> <a href="/" style="color: white; text-decoration: none">+ New Task</a></button>
        </div>
       
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Resume</th>
                    <th scope="col">isDone</th>
                    <th scope="col">isPriority</th>
                    <th scope="col">Action</th>
                </tr>

            </thead>
            <tbody>
                <!-- para cada task do banco de dados será criada uma linha com seus respectivos dados -->
                <% data.forEach(function(details) { %>
                    <tr>
                        <td><%= details._id %></td>
                        <td><%= details.title %></td>
                        <td><%= details.resume %></td>
                        <td><%= details.isDone %></td>
                        <td><%= details.isPriority %></td>
                        <td>
                            <button class="btn btn-info" id="btn-edit" onclick="editTask"> 
                                <a href="/edit/<%= details._id %>" style="color: white; text-decoration: none">Edit</a>
                            </button>
                            <button class="btn btn-danger" type="submit">
                                <a href="/delete/<%= details._id %>" style="color: white; text-decoration: none">Delete</a>
                            </button>
                        </td>
                    </tr>
                <% }) %>               
            </tbody> 
        </table>        
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>